:root {
  --main-blue: #06a3a6;
  --main-purple: #554367;
  --primary-text-color: #ffffff;
  --secondary-text-color: #212121;
  --icon-background-color: #e7e5e5;
  --hero-bg-gradient: rgba(47, 48, 58, 0.4);

  --trans-duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--main-blue);
  color: var(--secondary-text-color);

  font-family: "Open sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

/* UTILS */

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto; */
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-size: 16px;
  text-align: center;
}

.section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.title {
  font-size: 14px;
  line-height: 1.14;
}

.logo {
  font-family: "Courgette", sans-serif;
  font-size: 72px;
  color: var(--main-purple);

  transition: color var(--trans-duration) var(--cubic);
}

.logo:hover,
.logo:focus {
  color: var(--primary-text-color);
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 26px;
  padding-bottom: 26px;

  background-color: var(--main-blue);
}

.header-nav-list {
  display: flex;
  gap: 64px;
}

.header-nav-link {
  font-size: 18px;
  font-weight: 500;
  line-height: calc(36 / 24);
  letter-spacing: 1.08px;

  color: var(--primary-text-color);

  transition: color var(--trans-duration) var(--cubic);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--main-purple);
}

/* HERO */

.hero {
  padding-top: 0;
  padding-bottom: 0px;
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-title {
  position: relative;

  font-size: 24px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: calc(36 / 24);
  letter-spacing: 2.04px;

  margin-left: 136px;
  margin-bottom: 28px;

  color: var(--main-purple);
}

.hero-title::before {
  content: "";
  display: inline-block;

  position: absolute;
  left: -136px;
  bottom: 15px;

  width: 120px;
  height: 2px;

  background-color: var(--main-purple);
}

.hero-subtitle {
  position: relative;

  font-size: 70px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;

  margin-bottom: 26px;

  color: var(--primary-text-color);
}
.hero-text {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 1.2px;

  margin-bottom: 70px;

  color: var(--secondary-text-color);
}
.hero-contact {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  padding: 32px;

  background-color: var(--main-purple);
  color: var(--primary-text-color);

  transition: color var(--trans-duration) var(--cubic),
    background-color var(--trans-duration) var(--cubic);
}

.hero-contact:hover,
.hero-contact:focus {
  color: var(--main-blue);
  background-color: var(--primary-text-color);
}

.hero-subtitle::after {
  content: "";
  display: inline-block;

  position: absolute;
  top: -50px;
  right: -420px;
  z-index: -1;

  width: 300px;
  height: 300px;

  border-radius: 50%;
  border: 40px solid rgba(255, 255, 255, 0.25);

  background-color: transparent;
}

/* SERVICES */

.services {
  padding-top: 94px;
  padding-bottom: 94px;

  text-align: center;
  background-color: rgba(255, 255, 255, 0.35);
}

.section-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 1.15;

  margin-bottom: 16px;

  color: var(--primary-text-color);
}

.section-desc {
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 1.2px;

  margin-bottom: 64px;

  color: var(--secondary-text-color);
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.services-item {
  display: flex;
  flex-direction: column;
  gap: 64px;

  width: 300px;
  height: 300px;

  padding: 32px;

  text-align: left;
  vertical-align: text-bottom;

  border-radius: 20px;
  background: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.services-icon {
  fill: var(--main-blue);
  background-color: var(--icon-background-color);
  border-radius: 50%;
  border: 15px solid var(--icon-background-color);
}

.services-title {
  font-size: 24px;
  line-height: 1.15;
  letter-spacing: 1.2px;
  text-transform: uppercase;

  margin-bottom: 12px;

  color: var(--main-purple);
}

.services-desc {
  font-size: 18px;
  line-height: 1.15;
  letter-spacing: 0.9px;

  color: var(--secondary-text-color);
}

/* TEAM */

.team {
  margin-bottom: 64px;
}

.team-list {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 64px;
}

.team-item {
  text-align: center;
  border-radius: 20px;

  padding-bottom: 16px;

  background-color: var(--primary-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-pic {
  border-radius: 20px;

  margin-bottom: 16px;
}

.team-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;

  margin-bottom: 5px;

  color: var(--main-purple);
}
.team-text {
  font-size: 18px;
  line-height: 1.15;
}

/* CONTACTS */

.contacts-wrap {
  display: flex;
}

.contacts-list {
}

.contacts-item {
}

.contacts-map {
}
